.item1 {
    background: #000080;
    width: 700px;
    height: 170px;
    left: 100px;
    
    position: absolute;
    
    bottom: 130px;
    margin-bottom: 120px;
    
}

#a {
    font-weight: 900;
    font-size: 60px;
    line-height: 0; 
    position:relative;  
    left: 100px;
    bottom: 95px;
    
    
}

p.mb5 {
    margin-bottom: 40em;
}
 
h2 {
    color:#000080;
    position:absolute;
    left: 150px;
    top: 50px;

}

#sample {
    color:blue;
    text-align: right;
    margin:30px;
    position: absolute;
    right:  100px;
    top: 50px;
}



.item1 {
    margin: 30;
    
    width: 60%;
    position: relative;
}

.absolute_img {
    position: absolute;
    right: 100px;
    bottom: 80px;
    width: 700px;
    height: 400px;
    
}

